/zig-out/
/zig-cache/
**/.zig-cache/
**/.zig-out/
.idea/
*.o
site/
.claude/
*.a
*.a.o
#docs_site/docs/api/*
#!docs_site/docs/api/.gitkeep
/kitchen/docs/apidocs/
/kitchen/docs/examples/layer1/
/kitchen/docs/examples/layer2/
/kitchen/docs/examples/layer3/
/kitchen/docs/examples/layer4/
/kitchen/docs/examples/items/
/kitchen/docs/examples/hooks/
/kitchen/docs/examples/helpers/
/kitchen/docs/examples/stories/
/docs/
/zig-pkg/
.antigravitycli/
__pycache__/
